[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tabulate = "*"
pytest = "*"
twine = "*"
requests-mock = "*"

[packages]
requests-oauthlib = "*"
pandas = "*"
Flask = "*"
